@media (max-width: 600px) {
    /*LOGIN-WINDOW*/
    .login-window {
        width: 90%;
    }

    /*REG-WINDOW*/
    .registration-window {
        width: 90%;
    }

    /*HEADER*/
    .header {
        justify-content: space-between;
    }

    .chat-header {
        width: 100%;
    }
    

    /*CHAT*/
    .chat {
        width: 100%; 
        position: relative;
    }

    .chat__container {
        width: 100%;
    }

    .chat__messages-area-wrapper {
        height: 88%;
        
    }

    .message {
        width: 80%;
    }

    .chat__user-input-box {
        height: 12%;
    }

    .btns__item {
        width: 40px;
        height: 40px;
    }

    .send-message-btns__clear,
    .send-message-btns__emoji
    {
        display: none;
    }

    /*USERS-ONLINE*/
    .userOnlineBtn {
        width: 40px;
        height: 40px;
    
        border-radius: 50%;

        background: url('../images/mobile-online.png') center/130% no-repeat;
    }

    .chat__user-list {
        position: absolute;
        right: 0;
        z-index: 9999;

        background-color: rgb(245, 207, 245);

        width: 50%;
        height: 88%;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    /*AVATAR*/
    .heade-avatar {
        width: 40px;
        height: 40px;
    
        border-radius: 50%; 

        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

}

